header {
    background-color: #01474a;
    
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
.admin-wrapper{
    display: flex;
    height: calc(100% - 66px);
    /* border: 1px solid red; */
}

/* left */
.admin-wrapper .left-sidebar{
    flex: 2;
    /* border: 1px solid red; */
    height: 100%;
    background-color: #234a57;
}
.admin-wrapper .left-sidebar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    color:aliceblue;
}
.admin-wrapper .left-sidebar ul li a{
    padding: 20px;
    display: block;
    border-bottom: 1px solid #004044;
}
.admin-wrapper .left-sidebar ul li a:hover{
    background: #004044;
}
/* end left */

/* content */
.admin-wrapper .admin-content{
    flex: 8;
    padding: 40px 100px 100px;
    overflow-y: scroll;
    
    /* border: 1px solid blue; */
} 
.admin-content .page-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-weight: bolder;
    /* text-decoration: underline; */
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
th, td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #a29494;
}
.edit{
    color:green;
}
.delete {
    color:red;
}
.publish {
    color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover{
    text-decoration: underline;
    transition: all 0.5s;
}
/* end content */

form div {
    margin-bottom:  15px;
}